@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

p {
    background-color: lightgreen;
}

.opposite {
    display: inline-block;
    background-color: blue;
    color: whitesmoke;
    margin: 2em;
    padding: 1rem;
}