@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;   
}

button, input, select, textarea {
    font-size: inherit;
}

nav a {
   color: hsl(207, 44%, 49%);
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: .5rem;
    text-align: left;
    border: 1px solid orchid;
    border-radius: 0.5rem;
}

li {
    display: inline-block;
    margin-inline: 0.5rem
}

/* a:visited {
    color: purple;
} */

a:hover, a:focus {
    color: hsl(189, 44%, 49%, 0.8);
    /* opacity: 0.7; */
    background-color: hsla(17, 4%, 65%, 0.521);
}

a:active {
    color: rgba(36, 201, 36, 0.603);
}       