@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    min-height: 100vh;


    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 75px auto 75px;
    grid-template-areas: "hd hd hd hd hd hd hd hd hd" "mn mn mn mn mn mn mn sb sb" "ft ft ft ft ft ft ft ft ft";
    column-gap: .5rem;
}
 

.el {
    background-color: rebeccapurple;
    color: #fff;
    display: grid;
    place-content: center;
}

.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sb;
    background-color: rgb(56, 167, 161);
}

.footer {
    grid-area: ft;
    background-color: gray;
}

.container {
    grid-area: mn;
    min-height: 400px;
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 1em 0.5em;

}
.box {
    background-color: blueviolet;
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem;
}


.box:first-child {
    background-color: rgb(47, 88, 74);
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */
    grid-column: 1 / 4;
    grid-row: 1 / 3;

    display: grid;
    align-content: center;
    justify-content: center;
    place-content: center;
}


.box:nth-child(2) {
    background-color: palevioletred;
    grid-column: 1 / 5;
    grid-row: 3 / 4

}
