* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: skyblue;
}


.grid-produtos {
  margin-inline: 5px;
  min-height: 400px;
  display: grid; /*ativa modo grid*/
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: .5em 0.25em;
}


.card {
  border: 2px solid black;
}

.card:first-child {
  background-color: dodgerblue;
  grid-column-start: 1;
  grid-column-end: 3;
}

