@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    padding: 20px;
}

.container {
    border: 2px solid black;
    margin-inline: auto;
    max-width: 800px;
    min-height: 400px;
    margin: 40px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    align-content: space-evenly}


.box {
    font-size: 2.5rem;
    /* min-width: 100px; */
    height: 100px;
    background-color: #76cd26;
    padding: .5rem;


    display: flex;
    justify-content: center;
    align-items: center;


/* 
    flex-shrink: 1;
    flex-basis: 250px; */

    flex: 1 1 150px;

}


.box:nth-child(2) {
    flex: 2 2 150px;
    order: 1;
}
