@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Begin reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {display: block;}


body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    background-image: url("img/bubbles.png"), linear-gradient(to left, steelblue, #fff);
    background-repeat: repeat-y, no-repeat;
    background-position: right center;
    
    background: repeat-y right center url("img/bubbles.png"), no-repeat linear-gradient(to left, steelblue, #fff ) ;
    background-size: 20%, auto;
}


.container {
     background-color: rgb(251, 210, 156);
    background-image: url('img/map-2176x1451.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}
/* End reset*/

/*Utility Classes */
.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}



/* End Utility Classes */

.hero {
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;

    background-color: hsla(0, 0%, 16%, 0.35);

   
}
.profile-pic-figure {
    width: 35%;
}

.h1 {
    font-size: 500%;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
    /* background-color: hsla(0, 0%, 0%, 0.404);
    padding-left: 0.25rem;
    border-radius: 10px; */
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double rgb(167, 156, 63);
    border-radius: 50%;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 2px solid red;
}

.example  img {
    width: 25%;
    height: auto;
}



.clip {
    font-weight: 700;
    font-size: 13rem;
    text-align: center;
    background-image: url("img/scenic-2200x1331.png");
    background-size: 100%;
    text-transform: uppercase;
    background-clip: text;
    color: hsla(0, 0%, 0%, 0.2);
}