* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}



h1 {
    font-size: 3rem;
    border: 2px solid rgb(201, 68, 68);
    width: 50%;
}
p {
    width: 100ch;
}