@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400; 
}

.columns {
    /* column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid #eb7676;
    column-gap: 4rem;
}

.columns p {
    margin-top: 0;
}

.columns h2 {
    margin-top: 0;
    background-color: #eb7676;
    padding: 1rem;
    break-inside: avoid;
}

.columns .quote {
    font-size: 2.5rem;
    text-align: center;
    color: #eb7676;
    column-span: all;
    margin-top: 2rem;
}

.nowrap {
    white-space: nowrap;
}